@model CreateSliderDto
@{
    ViewData["Title"] = "Öne Çıkanlar Ekleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">@ViewData["Title"]</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-body">

                            <div class="form-group">
                                <label asp-for="Title1"></label>
                                <input type="text" class="form-control" asp-for="Title1">
                            </div>

                            <br />

                            <div class="form-group">
                                <label asp-for="Title1"></label>
                                <textarea rows="text" class="form-control" asp-for="Description1"></textarea>
                            </div>

                            <br />

                            <div class="form-group">
                                <label asp-for="Title1"></label>
                                <input type="text" class="form-control" asp-for="Title2">
                            </div>

                            <br />

                            <div class="form-group">
                                <label asp-for="Title1"></label>
                                <textarea rows="text" class="form-control" asp-for="Description2"></textarea>
                            </div>

                            <br />

                            <div class="form-group">
                                <label asp-for="Title1"></label>
                                <input type="text" class="form-control" asp-for="Title3">
                            </div>

                            <br />

                            <div class="form-group">
                                <label asp-for="Title1"></label>
                                <textarea rows="text" class="form-control" asp-for="Description3"></textarea>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-outline-primary">Ekle</button>
                            <a asp-controller="Slider" asp-action="Index" class="btn btn-outline-danger">İptal</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

